@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bege: #e6e0c2;
    --azul: #3a6575;
    --preto: #000;
    --marrom: #c9b38b;
}


body {
    font-family: 'Poppins', serif;
    background-color: var(--bege);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--bege);
    padding: 0 40px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--marrom);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 170px;
    margin-top: 0;
}

nav a {
    color: var(--preto);
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
    position: relative;
    transition: color 0.3s ease;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: var(--marrom);
    transition: width 0.3s ease;
}

nav a:hover {
    color: var(--azul);
}

nav a:hover::after {
    width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.banner {
    margin-top: 110px;
    display: flex;
    justify-content: center;
}

.banner img {
    border-radius: 12px;
    gap: 40px;
    border-radius: 12px;
}

.conteudo {
    margin-left: 40px;
    margin-right: 180px;
    margin-bottom: 30px;
    text-align: justify;

}

.conteudo h2 {
    margin-top: 30px;
}

.conteudo h5 {
    text-decoration: none;
    margin-top: 20px;
    font-weight: normal;
    transition: transform 0.3s ease;
}

.conteudo h5:hover {
    transform: translateY(-8px) scale(1.02);
    font-weight: bold;
    color: #664021;

}

strong {
    color: #503219;
}

li {
    list-style-type: square;
}