@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
  --preto: #1a1a1a;
  --bege: #a38d63;
  --branco-transparente: rgba(255, 255, 255, 0.623);
  --marrom-escuro: #533f24;
  --hover-branco: rgba(255, 255, 255, 0.795);
  --card-bg: #1a1a1a;
  --card-hover: #2b2b2b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-color: #fae6b4d0;
  position: relative;
  z-index: 1;
  color: var(--preto);
  animation: fadeIn 0.8s ease-in;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/nuvens.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  opacity: 0.3;
  z-index: -1;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* NAVBAR */
.navbar {
  background-color: rgba(163, 141, 99, 0.5);
  height: 4.5rem;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  position: fixed;
  justify-content: space-between;
  top: 0;
  width: 100%;
  z-index: 10;
  padding: 0 5%;
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo img {
  margin-top: 10px;
  height: 120px;
  animation: fadeIn 1s ease;
}

.menu-list .nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  margin-left: 100px;
}

.menu-list .nav-list li a {
  font-weight: 400;
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
  transition: color 0.3s;
}

.menu-list .nav-list li a:hover {
  color: var(--marrom-escuro);
}

.nav-button button {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid white;
  color: white;
  transition: background-color 0.3s;
}

.nav-button button:hover {
  background-color: var(--hover-branco);
}

.nav-button button a {
  text-decoration: none;
  color: inherit;
}

.nav-button button a:hover {
  color: var(--marrom-escuro);
}

h1 {
  font-size: 28px;
  margin-bottom: 10px;
  animation: fadeInUp 0.8s ease;
}

.titulo {
  text-align: center;
  margin-top: 60px;
  padding: 15px;
  font-size: 36px;
  color: var(--preto);
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  animation: fadeInUp 1s ease;
}

.intro {
  font-size: 18px;
  color: var(--preto);
  max-width: 600px;
  margin: 0 auto 40px;
  line-height: 1.6;
  text-align: center;
  animation: fadeInUp 1.2s ease;
}

.Cards {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 20px;
}

.card {
  border-radius: 18px;
  padding: 20px;
  width: 230px;
  height: 320px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.473);
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.5s ease, background-color 0.5s;
  color: #524638;
}

.card:hover {
  transform: translateY(-10px) scale(1.04);
  box-shadow: 0 14px 28px rgb(78, 76, 65);
  background-color: rgb(241, 230, 191);
}

.card img {
  width: 190px;
  height: 240px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 1px;
  transition: transform 0.4s ease;
}

.card:hover img {
  transform: scale(1.05);
}

.card h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.card p {
  font-size: 15px;
  line-height: 1.6;
}

.conteudo {
  text-align: center;
  padding: 60px 30px;
  animation: fadeIn 1.4s ease;
}

a {
  text-decoration: none;
  color: inherit;
}


.banner {
    width: 100%;      
    margin-top: 0;      
    padding-top: 70px;  
}

.banner img {
    width: 100%;        /* faço a imagem ocupar toda a largura disponível. */
    height: auto;       /* mantenho a proporção da imagem. */
    display: block;     /* removo espaços indesejados abaixo da imagem. */
}

