@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');  

* {
    padding: 0;                
    margin: 0;                
    box-sizing: border-box;   /* Eu ajusto para que o padding e a borda sejam incluídos no tamanho total dos elementos. */
}

body {
    font-family: 'Poppins', serif;     
    overflow-x: hidden;                /* escondo qualquer rolagem horizontal que possa aparecer. */
    position: relative;                /* defino o corpo como relativo para manipular o posicionamento de pseudo-elementos. */
    z-index: 1;                        /* defino uma camada para o body ficar sobre o fundo. */
    background-color: #fae6b4d0;      
}

body::before {
    content: "";                          /* crio um conteúdo vazio como camada de fundo. */
    position: fixed;                      /* fixo essa camada no fundo da tela. */
    top: 0;                               
    left: 0;                              
    width: 100%;                          /* faço a camada ocupar toda a largura. */
    height: 100%;                         /* faço ela cobrir toda a altura da tela. */
    background-image: url(../img/nuvens.jpg); 
    background-repeat: no-repeat;        /* evito que a imagem se repita. */
    background-size: cover;              /* ajusto a imagem para cobrir todo o espaço. */
    background-position: center;         
    background-attachment: fixed;        
    opacity: 0.3;                        
    z-index: -1;                          /* coloco essa camada atrás de todo o conteúdo. */
}

.container {
    width: 90%;         
    margin: 0 auto;    
}

/* NAVBAR */
.navbar {
    background-color: rgba(163, 141, 99, 0.5);  
    height: 4.5rem;                            
    display: flex;                             
    align-items: center;                       
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); 
    position: fixed;                           
    justify-content: space-between;            
    top: 0;                                    
    width: 100%;                               
    z-index: 10;                                /* navbar acima dos outros elementos. */
    padding: 0 5%;                              /* adiciono espaçamento interno nas laterais. */
}

.navbar-container {
    display: flex;                  
    flex-direction: row;           /* organizo os itens na horizontal. */
    justify-content: space-between;/* distribuo os itens igualmente. */
    align-items: center;           
    width: 100%;                   
}

.logo img {
    margin-top: 10px;  
    height: 150px;     
}

.menu-list .nav-list {
    margin-left: 100px;
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2.5rem;
}


.menu-list .nav-list li a {
    font-weight: 300;           /* texto com peso mais leve. */
    text-decoration: none;      /* retiro o sublinhado dos links. */
    color: white;              
    font-size: 1.1rem;         
    transition: color 0.3s;     /* Eu deixo a troca de cor suave. */
}

.menu-list .nav-list li a:hover {
    color: #533f24; 
}

.nav-button button {
    margin-left: 1rem;                        
    padding: 0.5rem 1rem;                     
    font-size: 1rem;                           
    background-color: rgba(0, 0, 0, 0.1);      
    border-radius: 5px;                       
    cursor: pointer;                           
    border: 1px solid white;                  
}

.nav-button button a {
    text-decoration: none;   
    color: white;            
}

.nav-button button:hover {
    background-color: rgba(255, 255, 255, 0.795); 
    transition: background-color 0.3s;            /* suaviza transição. */
}

.nav-button button a:hover {
    color: rgb(83, 62, 34);   
}

h1 {
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-top: 150px;
}


.textoinicial {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 80px;
    margin-top: 20px;
    margin-right: 80px;
    margin-bottom: 70px;

}

.deuses h2 {
    display: flex;
    font-size: 28px;
    margin-top: 40px;
    margin-left: 0;
}

.deuses img {
    width: 200px;
    height: 200px;         
    object-fit: cover;     
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}



.deuses {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 40px auto;
    padding: 25px;
    background-color: var(--marrom);
    border-radius: 16px;
    color: black;
    max-width: 1000px;
    width: 90%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0.308);
}

.deuses:hover {
    transform: translateY(-5px);
}

.texto p {
    line-height: 1.6;
    margin-right: 20px;
    font-size: 14px;
}

button {
    background-color: rgb(170, 96, 67);
    color: white;
    border-radius: 4px;
    width: 100px;
    border: solid;
    border-color:  rgb(170, 96, 67);
    margin-top: 10px;
}

button:hover {
    background-color: #000;
    border-color: #000;
}

a {
    text-decoration: none; 
    color: inherit;         
}

/* RESPONSIVIDADE */

/* Para telas menores que 768px */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column; /* empilho os itens da navbar. */
        height: auto;           
        padding: 1rem;          /*  aumento o espaçamento interno. */
    }

    .navbar-container {
        flex-direction: column; /* Eu organizo os elementos em coluna. */
        gap: 1rem;              /* Eu adiciono espaço entre os itens. */
    }

    .menu-list .nav-list {
        flex-direction: column; /* empilho os itens da lista. */
        gap: 1rem;              /* deixo espaço entre eles. */
        margin-left: 0;         
    }

    .nav-button {
        display: flex;              
        gap: 0.8rem;                
        flex-direction: column;     
        width: 100%;               
        align-items: center;        
    }

    .nav-button button {
        width: 90%;           
        padding: 0.7rem;      
        font-size: 1rem;       
    }

    .logo img {
        height: 100px;        
    }
}
