@import url(https://fonts.googleapis.com/css?family=Poppins);


:root {
    --bege: #e6e0c2;
    --azul: #89a9a8;
    --preto: #000;
}

body {
    font-family: 'Poppins', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: var(--preto);
    background-image: url(../img/pordentrodoolimpo.jpg);
}

#card_info p,
#card_info span {
    color: var(--preto);
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0;
    font-size: 17px;
    font-weight: bold;
}


.div_boxCadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--preto);
    padding: 30px;
    border-radius: 10px;
    width: 700px;
    text-align: center;
}

.div_boxCadastro h2 {
    color: #ffff;
}
 
/* Inputs */
input {
    position: absolute;
    width: 300px;
    font-size: 17px;
    outline: none;
    padding: 0 35px;
    line-height: 60px;
    border-radius: 28px;
    border: 1.5px solid #888;
    background: transparent;
    transition: 0.1s ease;
    z-index: 1111;
}

.div_campoCadastro {
    position: relative;
    display: flex;
    justify-content: center;
    height: 40px;
    margin-bottom: 50px;
}

.textoInput {
    position: absolute;
    left: 15px;
    white-space: nowrap;
    font-size: 17px;
    color: var(--bege);
    line-height: 80px;
    background-color: var(--preto);
    border-radius: 20px;
    transition: 0.2s ease;
}

/* Espaçamento do campo de senha e das informações necessárias para inserir uma senha válida */
#div_campoSenha {
    margin-bottom: 40px;
}

/* Validação de Senha */
#div_validarSenha {
    width: 350px;
    color: #888;
    font-size: 12px;
    margin-bottom: 20px;
}

/* Ao clicar, as bordas dos input's ficarão beges */
input:focus,
input:valid {
    color: var(--bege);
    border: 2px solid var(--bege);
}

/* Ao inserir um texto valido, a borda permanece bege */
input:focus+.textoInput,
input:valid+.textoInput {
    color: var(--bege);
    height: 30px;
    line-height: 30px;
    padding: 0 12px;
    transform: translate(0, -16px) scale(0.88);
    z-index: 1111;
}

/* Para remover as setas do input do tipo número */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Espaçamento do ícone pro texto da input */
i {
    padding-right: 10px;
}

/* Botão para relevar senha */
#i_buttonEyeConfSenha,
#i_buttonEyeSenha {
    background-color: transparent;
    color: #888;
    position: absolute;
    left: 365px;
    font-size: 20px;
    border: transparent;
    line-height: 80px;
}



/* Botão de "Cadastrar" */
#botao_login {
    width: 160px;
    height: 60px;
    padding: 15px;
    border: none;
    border-radius: 28px;
    background: var(--bege);
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;
    color: #000;
    font-size: 17px;
    transition: 0.1s ease;
    border: 0px;
}

/* Animação que faz com que o botão de cadastrar fique pulsando, para chamar atenção */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(126, 126, 126, 0.7);
    }

    70% {
        box-shadow: 0 0 0 15px rgba(34, 197, 94, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(34, 197, 94, 0);
    }
}