@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bege: #e6e0c2;
    --azul: #3a6575;
    --preto: #000;
    --marrom: #c9b38b;
}


body {
    font-family: 'Poppins', serif;
    background-color: var(--bege);
}

header {
    position: fixed;          
    top: 0;                   
    left: 0;
    width: 100%;              
    z-index: 1000;            
    background-color: var(--bege);  
    padding: 0 40px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--marrom);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo img {
    height: 170px;
    margin-top: 0;
}

nav a {
    color: var(--preto);
    text-decoration: none;
    margin-left: 25px;
    font-size: 16px;
    position: relative;
    transition: color 0.3s ease;
}

nav a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: var(--marrom);
    transition: width 0.3s ease;
}

nav a:hover {
    color: var(--azul);
}

nav a:hover::after {
    width: 100%;
}

h1 {
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-top: 150px;
}

.textoinicial {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-left: 80px;
    margin-top: 20px;
    margin-right: 80px;
    margin-bottom: 70px;

}

.deuses h2 {
    display: flex;
    font-size: 28px;
    margin-top: 40px;
    margin-left: 0;
}

.deuses img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.deuses {
    display: flex;
    align-items: center;
    gap: 30px;
    margin: 40px auto;
    padding: 25px;
    background-color: var(--marrom);
    border-radius: 16px;
    color: black;
    max-width: 1000px;
    width: 90%;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease;
}

.deuses:hover {
    transform: translateY(-5px);
}

.texto p {
    line-height: 1.6;
    margin-right: 20px;
    font-size: 14px;
}

button {
    background-color: rgb(170, 96, 67);
    color: white;
    border-radius: 4px;
    width: 100px;
    border: solid;
    border-color:  rgb(170, 96, 67);
    margin-top: 10px;
}

button:hover {
    background-color: #000;
    border-color: #000;
}

a {
    text-decoration: none; 
    color: inherit;         
}
